[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/shalookumarilt
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shalookumarilt
	label-Verified = -1..+1 group user/shalookumarilt
	push = group user/shalookumarilt
	read = group user/shalookumarilt
	rebase = group user/shalookumarilt
	removeReviewer = group user/shalookumarilt
	submit = group user/shalookumarilt
[access "refs/heads/*"]
	create = group user/shalookumarilt
	push = +force group user/shalookumarilt
	pushMerge = group user/shalookumarilt
	read = group user/shalookumarilt
[access "refs/tags/*"]
	push = group user/shalookumarilt
	push = +force group user/shalookumarilt
